<div class="post-border shadow">
    <div class="panel panel-default post-panel">
        <div class="panel-body">
            <div class="post-title">
                <a href="{{ model.url }}">{{ model.title }}</a>
            </div>
            <!-- -->
            {% set postCategories = raspina.postCategories(model) %}
            {% if postCategories %}
                <span class="post-detail ">
                    {{ raspina.t('Categories') }}:
 						{% for category in postCategories %}
						    <a href="{{ category.url }}">{{ category.title }}</a> <span class="post-detail-cat">, </span>
                        {% endfor %}
				</span>
            {% endif %}
            <span class="post-detail">
                {{ raspina.t('Author') }}:
                <a href="{{ model.url }}">{{ model.author }}</a>
			</span>
            <span class="post-detail">
                {{ raspina.t('Created At') }}:
                {{ raspina.date(model.created_at) }}
			</span>
            <span class="post-detail">
                {{ model.comment_count }}
                {{ raspina.t('Comment') }}
			</span>
            <span class="post-detail">
                <span>{{ model.view }}</span>
                {{ raspina.t('View') }}
			</span>
            <div class="clear"></div>
            <!-- -->
            <div class="post-text">
                {{ model.short_text | raw }}
                {% if model.more_text %}
                    <hr class="more-hr">
                    <a href="{{ model.url }}" class="button more">{{ raspina.t('More') }}</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>


