{{ void(raspina.title('Contact Me')) }}
<div class="post-border shadow">
    <div class="panel panel-default post-panel">
        <div class="panel-body">
            <div class="post-title">{{ raspina.t('Contact Me') }}</div>
            <div class="post-text">
                <!-- -->
                {% set form = activeForm.begin() %}
                {{ form.field(model, 'name').textInput({'maxlength': true, 'class': 'input margin-17', 'placeholder': raspina.t('Name')}) | raw }}
                {{ form.field(model, 'email').textInput({'maxlength': true, 'class': 'input margin-17', 'placeholder': raspina.t('Email')}) | raw }}
                {{ form.field(model, 'site').textInput({'maxlength': true, 'class': 'input margin-17', 'placeholder': raspina.t('Site')}) | raw }}
                {{ form.field(model, 'message').textArea({'rows': 6, 'maxlength': true, 'class': 'input margin-17', 'placeholder': raspina.t('Message')}) | raw }}
                {{ form.field(model, 'captcha').widget(captcha.className(), {
                    'captchaAction': '../app/web/captcha',
                    'options': {'class': 'input text-center', 'placeholder': raspina.t('Captcha')},
                    'template': '<div class="captcha-img">{image}</div><div class="captcha-txt">{input}</div>'
                }) | raw }}
                {{ html.submitButton(raspina.t('Send'), {'class': 'submit'}) | raw }}
                {% set end = activeForm.end() %}
                <!-- -->
            </div>
        </div>
    </div>
</div>
